**/build/*
.vscode/**
.chache/**
*.idx
*.json
*.pdf
*.png

*.npy
*.log
__pycache__/
venv/

# Apriltag package
apriltag/

# Allow the default calibration files to be tracked
config/
!config/calibration_boards/default_intrinsic_calibration_board/*.json
!config/calibration_boards/default_intrinsic_calibration_board/*.pdf
!config/calibration_boards/default_intrinsic_calibration_board/*.png